// Specific CSS for your home-page
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "explanation explanation explanation explanation explanation explanation"
    "explanation explanation explanation explanation explanation explanation"
    "newest-updates newest-updates newest-updates newest-updates newest-updates newest-updates"
    "searchbar searchbar searchbar searchbar searchbar searchbar"
    ". . . . . ."
    ". . . . . ."
    ". . . . . .";
}

body {
  background-color: white;
}

.explanation {
  grid-area: explanation;
  padding: 1.8rem 1.5rem 0 1.5rem;
  text-align: center;
}

.newest-updates {
  grid-area: newest-updates;
  padding: 1rem 1.5rem 0 1.5rem;
  text-align: center;
}

.searchbar {
  grid-area: searchbar;
  padding: 1rem 1.5rem 0 1.5rem;
  text-align: center;
}
