<div class="navbar navbar-expand-sm navbar-light justify-content-between navbar-lewagon" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <%= link_to "FoodRecall DE", "#", class: "navbar-brand" %>
    <ul class="navbar-nav mr-auto">
      <%= link_to "Impressum", "#", class: "navbar-brand" %>
    </ul>
    </div>
  </div>
</div>
