<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<span>hello test</span> %>
<div class="container">
  <div class="explanation">
    <h2>Explanation</h2>
    <p>
      This is the home page of the FoodRecall DE website.
    </p>
  </div>
  <div class="newest-updates"></div>
  <div class="searchbar"></div>
</div>
