<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<span>hello test</span> %>

<div class="container">
  <div class="explanation">
    <h2>Willkommen bei FoodRecall </h2>
      <p>
        Was ist FoodRecall?
        <br>
        Bei Foodrecall kannst du ganz einfach überprüfen, ob deine eingekauften Lebensmittel aus irgendeinem Grund nicht
        verzehrt werden sollten, da für diese eine Warnung durch die Lebensmittelbehörden (z.B. wegen Salmonellen) ausgesprochen wurde.
      </p>
  </div>
  <div class="newest-updates">
    <h2>Neueste Warnungen</h2>
    <div>
      <p>test</p>
    </div>
  </div>
  <div class="searchbar">
    <h2>Nach Produkt suchen</h2>
    <div>
      <p>test</p>
    </div>
  </div>
</div>
